div.p1{
  margin: 5% 45% 5% 5%;
  padding: 18px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #d0a8d8;
  text-align: left;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: black;
  width: 50%;
}
div.p2{
  margin: 5% 45% 5% 5%;
  padding: 18px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #008dce;
  text-align: left;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: black;
  width: 100%;
}


